@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
body{
    text-align: center;
}
thead{
    font-family: 'Roboto Slab', serif;
}
tbody{
    font-family: 'Roboto Slab', serif;
    
}

footer{
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Roboto Slab', serif;
    background-color: #212529;
}

a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color:white;
  }

  td{
      white-space: nowrap;
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }